.menuItemContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    justify-content: center;
    flex-wrap: wrap;
}
.menuItemBox{
    display: flex;
    flex-wrap: wrap;
    background-color: #0047ab;
    margin: 10pt;
    align-items: center;
    justify-content: space-between;
    padding: 3%;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 0%;    
    width: fit-content;
    color: white;
    
}

.menuItem, .price, .menuItemName{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    overflow-wrap: break-word;
   
}

.menuItemName{
    font-weight: bold;
    font-size: 15pt;
}

.price, .menuItem{
    font-size: 12pt;
    font-weight: 100;
}


.price{
    margin-top: 20pt;
}

.menuItemRow{
    display: flex;
    margin: 3%;
    justify-content: left;
    align-items: center;
    height: 10%;
    gap: 10pt;
    overflow-wrap: break-word;
    max-width: 100%;
    padding-bottom: 8pt;
    border-bottom: 1pt yellow dashed;

 
}

.column{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: fit-content;
    margin: 0%;
}

.horizonalLine{
    color: black;
    background-color: black;
}

.img{
    height: 125pt;
    width: 125pt;
    border-radius: 50%;

}


.menuNumber{
    font-weight: bold;
    font-size: 20pt;
    border: 3pt black solid;
    background-color: yellow;
    color: black;
}