.menuItemContainer{
    display: flex;
    align-items: left;
    width: 100%;
    justify-content: center;
}
.menuItemBox{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 10pt;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    border: 5pt red groove;
    gap: 20pt;
    
    
}

.menuItem{
    margin: 0;
   
}

.menuItemRow{
    display: flex;
    margin-left: 5%;
    justify-content: left;
    align-items: center;
    height: 10%;
    gap: 10pt;
    margin-left: 3%;
    margin-right: 3%;
 
}

.horizonalLine{
    color: black;
    background-color: black;
}

.img{
    height: 100pt;
    width: 100pt;
    border-radius: 50%;

}